In [2]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv(r'C:\Users\hp\Desktop\Policy Details - DE Assesment.csv', encoding='cp1252')

C:\Users\hp\AppData\Local\Temp\ipykernel_11724\3994211715.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(r'C:\Users\hp\Desktop\Policy Details - DE Assesment.csv', encoding='cp1252')

In [4]:
df.head(5)

,CUST_ID,EXECUTIVE,BODY,MAKE,MODEL,USE_OF_VEHICLE,MODEL_YEAR,CHASSIS_NO,REGN,POLICY_NO,...,POL_EXPIRY_DATE,SUM INSURED,POL_ISSUE_DATE,PREMIUM2,DRV_DOB,DRV_DLI,VEH_SEATS,PRODUCT,POLICYTYPE,Unnamed: 20
0,749,JAIKISHIN (S),SALOON,TOYOTA,AVALON,PRIVATE,2004.0,4T1BF28B74U386791,DUBAI,102048936,...,23-02-2016,14080.0,04-01-2015 08:14,1090.0,NaN,NaN,4.0,NOT CLASSIFIED,COMP,NaN
1,749,JAIKISHIN (S),PICK UP,MITSUBISHI,CANTER SINGLE CABIN,COMMERCIAL,2004.0,JL7BCE1K44K002036,DUBAI,101509203,...,09-02-2016,0.0,04-01-2015 08:15,930.0,NaN,NaN,2.0,NOT CLASSIFIED,TP,NaN
2,749,JAIKISHIN (S),SALOON,TOYOTA,YARIS,PRIVATE,2007.0,JTDBW923371044730,DUBAI,101509204,...,13-02-2016,NaN,04-01-2015 08:26,640.0,NaN,NaN,4.0,TP,TP,NaN
3,2968,AMIT,VAN,HYUNDAI,H-1,DELIVERY VEHICLES,2006.0,KMJWWH7W36U687780,DUBAI,102048937,...,21-02-2016,8456.0,04-01-2015 08:47,1260.0,NaN,NaN,8.0,NOT CLASSIFIED,COMP,NaN
4,3349,RAJENDRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,101509068/1,...,21-12-2015,NaN,04-01-2015 09:09,200.0,NaN,NaN,NaN,NOT CLASSIFIED,TP,NaN

In [9]:
df.isnull().sum() * 100 / df.shape[0]

CUST_ID             0.000000
EXECUTIVE           0.000000
BODY                4.530727
MAKE                4.516659
MODEL               4.623487
USE_OF_VEHICLE      4.529408
MODEL_YEAR          4.549191
CHASSIS_NO          4.516659
REGN                4.517978
POLICY_NO           0.000000
POL_EFF_DATE        0.000000
POL_EXPIRY_DATE     0.000000
SUM INSURED        49.536860
POL_ISSUE_DATE      0.000000
PREMIUM2            0.004396
DRV_DOB            11.343084
DRV_DLI            11.343084
VEH_SEATS           4.516659
PRODUCT             0.000000
POLICYTYPE          0.000000
Unnamed: 20        74.449266
dtype: float64

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227469 entries, 0 to 227468
Data columns (total 21 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   CUST_ID          227469 non-null  int64
 1   EXECUTIVE        227469 non-null  object
 2   BODY             217163 non-null  object
 3   MAKE             217195 non-null  object
 4   MODEL            216952 non-null  object
 5   USE_OF_VEHICLE   217166 non-null  object
 6   MODEL_YEAR       217121 non-null  float64
 7   CHASSIS_NO       217195 non-null  object
 8   REGN             217192 non-null  object
 9   POLICY_NO        227469 non-null  object
 10  POL_EFF_DATE     227469 non-null  object
 11  POL_EXPIRY_DATE  227469 non-null  object
 12  SUM INSURED      114788 non-null  float64
 13  POL_ISSUE_DATE   227469 non-null  object
 14  PREMIUM2         227459 non-null  float64
 15  DRV_DOB          201667 non-null  object
 16  DRV_DLI          201667 non-null  object
 17  VEH_SEATS        217195 non-null  float64
 18  PRODUCT          227469 non-null  object
 19  POLICYTYPE       227469 non-null  object
 20  Unnamed: 20      58120 non-null   object
dtypes: float64(4), int64(1), object(16)
memory usage: 36.4+ MB

In [16]:
df.isnull().sum()

CUST_ID                 0
EXECUTIVE               0
BODY                    0
MAKE                    0
MODEL                 234
USE_OF_VEHICLE         18
MODEL_YEAR             55
CHASSIS_NO              0
REGN                    2
POLICY_NO               0
POL_EFF_DATE            0
POL_EXPIRY_DATE         0
SUM INSURED        102404
POL_ISSUE_DATE          0
PREMIUM2                3
DRV_DOB             15514
DRV_DLI             15514
VEH_SEATS               0
PRODUCT                 0
POLICYTYPE              0
dtype: int64

In [7]:
df.shape

(227469, 21)

In [12]:
df = df[df['BODY'].notnull()]

removed the data where BODY data is null

In [13]:
df.shape

(217163, 21)

In [15]:
df.drop('Unnamed: 20',axis = 1,inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_11724\2683523185.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('Unnamed: 20',axis = 1,inplace=True)

drop the column "Unnamed: 20" because 74% data is null

In [17]:
df_1 = df.copy()

Cleaning for MODEL column

In [21]:
make_dt = df_1[df_1['MODEL'].isnull()]['MAKE'].unique()
make_dt

array(['RANGE ROVER', 'SUBARU', 'ASHOK LEYLAND', 'CMC VERYCA', 'MERCEDES',
       'YAMAHA', 'VOLVO', 'ISUZU', 'FERRARI', 'DAEWOO', 'TRIUMPH',
       'JUNGHEINRICH', 'MAZDA', 'HINO', 'DELTA ', 'EICHER', 'DODGE',
       'HYSTER', 'TOYOTA', 'HONDA', 'NISSAN', 'CATERPILLAR',
       'MERCEDES-BENZ', 'T.V.S', 'HARLEY DAVIDSON', 'CLARK', '-',
       'JINBEI', 'RENAULT', 'HYUNDAI', 'DAIHATSU', 'AUDI', 'ASTON MARTIN',
       'HYDRA TERRA', 'CMC', 'HELLI', 'VEHICLE AS PER', 'FUSHUN',
       'PROMTRACTOR', 'ZOOMLION', 'MV', 'COBRA', 'FORD', '.', 'ASIASTAR',
       'BENTLEY ', 'ENERGICA'], dtype=object)

In [26]:
df_1[df_1['MAKE'] == "RANGE ROVER"]['MODEL'].mode()[0]

'SPORT'

In [32]:
for val in make_dt:
    mode_series = df_1[df_1['MAKE'] == val]['MODEL'].mode()
    if not mode_series.empty:
        model_mode = mode_series[0]
        df_1.loc[(df_1['MAKE'] == val) & (df_1['MODEL'].isna()), 'MODEL'] = model_mode

In [36]:
df_1.isnull().sum()

CUST_ID                 0
EXECUTIVE               0
BODY                    0
MAKE                    0
MODEL                   0
USE_OF_VEHICLE         18
MODEL_YEAR             55
CHASSIS_NO              0
REGN                    2
POLICY_NO               0
POL_EFF_DATE            0
POL_EXPIRY_DATE         0
SUM INSURED        102403
POL_ISSUE_DATE          0
PREMIUM2                3
DRV_DOB             15498
DRV_DLI             15498
VEH_SEATS               0
PRODUCT                 0
POLICYTYPE              0
dtype: int64

cleaning for column " USE_OF_VEHICLE "

In [35]:
df_1 = df_1[df_1['MODEL'].notnull()]

In [37]:
vehicle_dt = df_1[df_1['USE_OF_VEHICLE'].isnull()]['MAKE'].unique()
vehicle_dt

array(['RANGE ROVER', 'BMW', 'ROLLS ROYCE', 'LAMBORGHINI', 'VOLVO',
       'SCANIA', 'MERCEDES', 'BENTLEY ', 'MASERATI'], dtype=object)

In [40]:
for val in vehicle_dt:
    mode_series = df_1[df_1['MAKE'] == val]['USE_OF_VEHICLE'].mode()
    if not mode_series.empty:
        model_mode = mode_series[0]
        df_1.loc[(df_1['MAKE'] == val) & (df_1['USE_OF_VEHICLE'].isna()), 'USE_OF_VEHICLE'] = model_mode

In [67]:
df_1.isnull().sum()

CUST_ID             0
EXECUTIVE           0
BODY                0
MAKE                0
MODEL               0
USE_OF_VEHICLE      0
MODEL_YEAR         55
CHASSIS_NO          0
REGN                0
POLICY_NO           0
POL_EFF_DATE        0
POL_EXPIRY_DATE     0
SUM INSURED         0
POL_ISSUE_DATE      0
PREMIUM2            0
VEH_SEATS           0
PRODUCT             0
POLICYTYPE          0
dtype: int64

In [62]:
df_1[df_1['MAKE'] == "RANGE ROVER"]['MODEL_YEAR'].mode()

0    2014.0
Name: MODEL_YEAR, dtype: float64

In [55]:
df_1.loc[(df_1['MAKE'] == "ASIASTAR") & (df_1['REGN'].isnull()),"REGN"] = "DUBAI"

In [59]:
df_1['SUM INSURED'] = df_1['SUM INSURED'].fillna(0)

In [64]:
df_1.drop({'DRV_DOB','DRV_DLI'} , axis = 1,inplace = True )

In [66]:
df_1['PREMIUM2'].fillna(df_1['PREMIUM2'].mean(), inplace = True)

C:\Users\hp\AppData\Local\Temp\ipykernel_11724\414313355.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_1['PREMIUM2'].fillna(df_1['PREMIUM2'].mean(), inplace = True)

In [69]:
## Model Year 
model_dt = df_1[df_1['MODEL_YEAR'].isnull()]['MAKE'].unique()
model_dt 

for val in model_dt:
    mode_series = df_1[df_1['MAKE'] == val]['MODEL_YEAR'].mode()
    if not mode_series.empty:
        model_mode = mode_series[0]
        df_1.loc[(df_1['MAKE'] == val) & (df_1['MODEL_YEAR'].isna()), 'MODEL_YEAR'] = model_mode

In [74]:
df_1.dropna(inplace = True)

In [80]:
df_1['MODEL_YEAR'] = df_1['MODEL_YEAR'].astype(int)

In [107]:
df_1['POLICY_NO'] = df_1['POLICY_NO'].str.split('/').str.get(0)

In [111]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 217111 entries, 0 to 227468
Data columns (total 18 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   CUST_ID          217111 non-null  int64
 1   EXECUTIVE        217111 non-null  object
 2   BODY             217111 non-null  object
 3   MAKE             217111 non-null  object
 4   MODEL            217111 non-null  object
 5   USE_OF_VEHICLE   217111 non-null  object
 6   MODEL_YEAR       217111 non-null  int32
 7   CHASSIS_NO       217111 non-null  object
 8   REGN             217111 non-null  object
 9   POLICY_NO        217111 non-null  object
 10  POL_EFF_DATE     217111 non-null  object
 11  POL_EXPIRY_DATE  217111 non-null  object
 12  SUM INSURED      217111 non-null  float64
 13  POL_ISSUE_DATE   217111 non-null  object
 14  PREMIUM2         217111 non-null  float64
 15  VEH_SEATS        217111 non-null  float64
 16  PRODUCT          217111 non-null  object
 17  POLICYTYPE       217111 non-null  object
dtypes: float64(3), int32(1), int64(1), object(13)
memory usage: 30.6+ MB

In [113]:
df_1.to_csv("policyTypeCleaning.csv")

In [118]:
df_1[(df['BODY'] == "PICK UP") & (df['MAKE'] == "ISUZU")]['MODEL'].mode()

C:\Users\hp\AppData\Local\Temp\ipykernel_11724\2689128153.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df_1[(df['BODY'] == "PICK UP") & (df['MAKE'] == "ISUZU")]['MODEL'].mode()

0    NPR
Name: MODEL, dtype: object

In [121]:
df_1.loc[df_1['MODEL'] == "." , "MODEL"] = np.nan

In [131]:
df_1.to_csv("policyTypeCleaning2.csv",index = False)